{:tasks {jar       (clojure "-T:build" "jar")
         test      {:depends [test:clj test:cljs]}
         test:clj  (clojure "-M:test:kaocha")
         test:cljs (clojure "-M:cljs:test:cljs-test-runner")
         deploy    (clojure "-T:build" "deploy")}}
