{:paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test"]}

  :cljs
  {:extra-deps {org.clojure/clojurescript  {:mvn/version "1.11.60"}}}

  :kaocha
  {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.87.1366"}
                lambdaisland/kaocha-cljs {:mvn/version "1.5.154"}}
   :main-opts  ["-m" "kaocha.runner"]}

  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.9.3"}
          slipset/deps-deploy           {:mvn/version "0.2.0"}}
   :ns-default build}}}
